body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

main {
	position: relative;
	margin-top: 6rem;
	padding: 2.5rem;

	& h1 {
		text-align: center;
		font-size: 5rem;
	}

	& .uvodni-foto {
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		z-index: -1;
	}

	& section {
		padding: 1rem;
		background: rgba(255, 255, 255, 0.25);
		border-radius: 16px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		display: block;
		max-width: 42.5vw;
		backdrop-filter: blur(3.4px);
		-webkit-backdrop-filter: blur(3.4px);
		border: 1px solid rgba(255, 255, 255, 0.79);
	}
}
